body {
    background: #3948db;
    font-family: sans-serif;
}

h2{
    color:#ffff;
}

.login{
    padding: 1em;
    margin:2em auto;
    width:17em;
    background: #ffff;
    border-radius: 3px;
}

label{
    font-size: 10pt;
    color:#555;
}

input[type="text"],
input[type="email"],
textarea{
    padding: 8px;
    width:95%;
    background: #efefef;
    border:0;
    font-size: 10pt;
    margin: 6px 0px;
}